(production / development)
NODE_ENV = development

# PORT
PORT = 3000

# DATABASE
DB_URL = mongodb://localhost:27017/DB

# JWT TOKEN
SECRET_KEY = JWT@AuthToken@SecretKey@Demo
JWT_EXPIRES_IN = 60 * 60 * 24

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

#(CORS  * = all , domain list [domain1, domain2] )
ORIGIN = *